<header>
    <div class="header-img">
        <img src="assets/gusto-sano.png" alt="Logo Gusto Sano">
    </div>
      <nav class="header-nav">
          <app-button routerLink="/homepage" label="Home" ariaLabel="Vai alla homepage" customClass="a-button" fontSize="1rem" padding="15px 30px" borderRadius="30px"></app-button>
          <app-button routerLink="/fruits" label="Frutti" ariaLabel="Vai alla lista dei frutti" customClass="a-button" fontSize="1rem" padding="15px 30px" borderRadius="30px"></app-button>
      </nav>
</header>
