
<section>

  <div class="header">
        <div class="nav">
            <app-button routerLink="/homepage" icon="home" ariaLabel="Home" customClass="a-button" fontSize="1.3rem" padding="15px" marginTop="30px" borderRadius="100px"></app-button>
        </div>
    <h1>Elenco completo</h1>
    <div class="input-container">
      <mat-icon aria-hidden="true">search</mat-icon>
      <input type="text" placeholder="Cerca un frutto" [(ngModel)]="searchTerm" (ngModelChange)="searchedFruit()"  class="search-input" aria-label="Campo di ricerca frutti">
    </div>
  </div>


  <div class="fruits-list">
    @if (displayedFruit && displayedFruit.length > 0) {
      @for (fruit of displayedFruit; track fruit.name) {
    <app-fruit-card [fruit]="fruit" (fruitClicked)="viewDetails($event)" [details]="fruitDetails[fruit.name]"></app-fruit-card>
          }
    } @else {
      <p>Nessun frutto trovato</p>
    }
  </div>
</section>
