
<div class="nav">
   <app-button routerLink="/fruits" icon="arrow_back" ariaLabel="Torna ai frutti" customClass="a-button" fontSize="1.3rem" padding="15px" borderRadius="100px"></app-button>
</div>
<section>
<h2>Tabella nutrizionale: {{ fruit?.name }}</h2>

<div class="list">
  <ul>
    <li class="li-title">Valori medi per 100gr</li>
    <li class="first"><span>Calorie</span> {{ fruit?.nutritions?.calories }} kcal</li>
    <li class="second"><span>Proteine</span> {{ fruit?.nutritions?.protein }} g</li>
    <li class="third"><span>Carboidrati</span> {{ fruit?.nutritions?.carbohydrates }} g</li>
    <li class="last"><span>Grassi</span> {{ fruit?.nutritions?.fat }} g</li>
    <li class="last li-bottom"><span>Zuccheri</span> {{ fruit?.nutritions?.sugar }} g</li>
  </ul>
</div>
</section>